{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
    Categorieën:
    {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <a href="{{ SITEURL }}/">Meer spelletjes op deze website&hellip;</a>

  <div id="ads">
    <p>
      &hellip; of vind meer spelletjes hier:
    </p>
    <div id="bolbol"><!--
    --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Falle-kinderen-naar-buiten%2F9200000054577971&amp;name=Spelen&amp;subid=alle-kinderen-naar-buiten"><img src="/theme/images/allekinderennaarbuiten.jpg"></a></div><!--
  --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Fhet-bos-boek%2F9200000000030802&amp;name=Spelen&amp;subid=het-bos-boek"><img src="/theme/images/hetbosboek.jpg"></a></div><!--
  --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Fkids-labo%2F9200000063923433&amp;name=Spelen&amp;subid=kids-labo"><img src="/theme/images/kidslabo.jpg"></a></div><!--
  --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Fkids-art%2F9200000011044242&amp;name=Spelen&amp;subid=kids-art"><img src="/theme/images/kidsart.jpg"></a></div><!--
  --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Findiaca-play%2F1004004010996326&amp;name=Spelen&amp;subid=indiaca"><img src="/theme/images/indiaca.jpg"></a></div><!--
  --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Fbex-kubb-family-berkenhout%2F1004004012184802&amp;name=Spelen&amp;subid=kubb"><img src="/theme/images/kubb.jpg"></a></div><!--
  --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Fadidas-beau-jeu-top-glider-euro-2016-voetbal-wit%2F9200000051890439&amp;name=Spelen&amp;subid=voetbal"><img src="/theme/images/voetbal.jpg"></a></div><!--
  --><div><a href="https://partnerprogramma.bol.com/click/click?p=1&amp;t=url&amp;s=10998&amp;f=TXL&amp;url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fp%2Fbs-disc-deluxe-frisbee-spel-blauw%2F1004004007095929&amp;name=Spelen&amp;subid=frisbee-spel"><img src="/theme/images/frisbeespel.jpg"></a></div><!--
  --></div>
  </div>
{% endblock %}
